{% assign certifications = site.data.data.certifications %}
{% if certifications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ certifications.title }}
  </h2>

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for certification in certifications.certs %}
  <div class="item">
    <div class="publication-title">{{ certification.title }}</div>
    <div class="publication-authors">{{ certification.institution }}</div>
    <div class="publication-conference">{{ certification.date }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
